.farm-bg {
  min-height: calc(100vh - 100px - 100px);
  background-image: url("../images/home-background.jpg");
  background-size: cover;
  background-position: center;
  padding-top: 48px;
  padding-bottom: 48px;
}

.farm-bg2{
  background-image: url("../images/farmer-register-bg.png"); 
  background-size: cover; 
  background-position: center;
}

html {
  scroll-behavior: smooth;
}

.custom-card {
  border: 2px solid #99e1c2;
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

.custom-card:hover {
  transform: scale(1.05);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
}
.custom-card .card-body {
  background-color: #e8f5e9;
}

 .custom-carousel {
    width: 100%;
    max-width: 900px;
    margin: auto;
  }


  .custom-carousel video {
    display: block;
    width: 100%;
    max-height: 500px;       /* keep natural aspect ratio */
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    padding: 10px;
  }

  .admin-bg2{
  background-image: url("../images/admin-login-bg.png"); 
  background-size: cover; 
  background-position: center;
}

.supplier-bg{
  background-image: url("../images/supplier-login-bg.jpg"); 
  background-size: cover; 
  background-position: center;
}

@media (max-width: 992px) {
  h2 {
    font-size: 1.5rem;
    text-align: center;
  }

  .table th, .table td {
    white-space: nowrap;
    font-size: 14px;
  }

  .btn-sm {
    font-size: 13px;
    padding: 4px 8px;
  }

  .d-flex.flex-md-row {
    flex-direction: column !important;
  }

  .table-responsive {
    overflow-x: auto;
  }
}

@media (max-width: 576px) {
  .table th, .table td {
    font-size: 12px;
  }
  .btn {
    width: 100%;
    margin-bottom: 5px;
  }
}
